body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ml-30{
    margin-left: 30%;
}
.divisa {
    display: grid;                    /* cuadrícula */
    grid-template-columns: 50% 50%;   /* 2 columnas iguales */
    margin-bottom: 15px;
    background: rgb(37, 169, 209); 
    color: white;
  }
  
  .nombre, .valor{
    padding: 5px;
    font-size: 16px;
    align-self: center;  /* alinear elemento al centro en altura */
    text-align: center;  /* alinear texto al centro en ancho */
  }